# Project 3

In this project, you will perform a logistic regression on the admissions data we've been working with in projects 1 and 2.

In [112]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import statsmodels.api as sm
import pylab as pl
import numpy as np

In [113]:
df_raw = pd.read_csv("../assets/admissions.csv")
df = df_raw.dropna() 
print df.head()

   admit    gre   gpa  prestige
0      0  380.0  3.61       3.0
1      1  660.0  3.67       3.0
2      1  800.0  4.00       1.0
3      1  640.0  3.19       4.0
4      0  520.0  2.93       4.0

## Part 1. Frequency Tables

#### 1. Let's create a frequency table of our variables relative to whether someone got admitted or not. Think in terms of for a certain prestige level, how many people got admitted and didnt get admitted

In [114]:
# frequency table for prestige and whether or not someone was admitted
df_raw.groupby(['prestige', 'admit']).count()

                gre  gpa
prestige admit
1.0      0       28   28
         1       33   33
2.0      0       95   96
         1       53   53
3.0      0       93   93
         1       28   28
4.0      0       55   55
         1       12   12

## Part 2. Return of dummy variables

#### 2.1 Create class or dummy variables for prestige

In [115]:
dummies = pd.get_dummies(df_raw['prestige'], prefix='prestige')

In [116]:
cols_to_keep = ['admit', 'gre', 'gpa']
df_dum = df_raw[cols_to_keep].join(dummies)

#### 2.2 When modeling our class variables, how many do we need?

Answer: When creating dummy variables from a set of categories, the number of dummy variables created should be one less then the original number of categories.

## Part 3. Hand calculating odds ratios

Develop your intuition about expected outcomes by hand calculating odds ratios.

In [117]:
cols_to_keep = ['admit', 'gre', 'gpa']
handCalc = df[cols_to_keep].join(dummies.ix[:, 'prestige_1':])
print handCalc.head()

   admit    gre   gpa  prestige_1.0  prestige_2.0  prestige_3.0  prestige_4.0
0      0  380.0  3.61             0             0             1             0
1      1  660.0  3.67             0             0             1             0
2      1  800.0  4.00             1             0             0             0
3      1  640.0  3.19             0             0             0             1
4      0  520.0  2.93             0             0             0             1

C:\Users\danke_000\Anaconda3\envs\py2\lib\site-packages\ipykernel\__main__.py:2: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate_ix
  from ipykernel import kernelapp as app

In [118]:
#crosstab prestige 1 admission 
# frequency table cutting prestige and whether or not someone was admitted
df_odds = pd.crosstab(df_raw['prestige'], df_raw['admit'], margins=True)
df_odds

admit       0    1  All
prestige
1.0        28   33   61
2.0        97   53  150
3.0        93   28  121
4.0        55   12   67
All       273  126  399

#### 3.1 Use the cross tab above to calculate the odds of being admitted to grad school if you attended a #1 ranked college

In [119]:
#First calculate the odds of being admitte to a grad scool if a student went to a #1 school.
#33 were admitted, 28 wre not, 61 applied. The probability admissionadmitted: 33 / 61 = 0.541
# odds of admission: 0.541 / 1- 0.541 = 0.541 / 0.454 = 1.192

#Rank 1 admissions
l1_admit = float(df_odds.loc[1.0][1])
#Rank 1 total applicants
l1_total = float(df_odds.loc[1.0][1] + df_odds.loc[1.0][0])
#probability of Rank#1 admission
l1_p_admit = l1_admit / l1_total
#odds of being admitted (odds of p_admit)
l1_odds = l1_p_admit / (1 - l1_p_admit)
l1_odds

1.1785714285714288

#### 3.2 Now calculate the odds of admission if you did not attend a #1 ranked college

In [120]:
#Rank 2-4 addmissions
all_admit = float(df_odds.loc[2.0][1] + df_odds.loc[3.0][1] + df_odds.loc[4.0][1])
#Rank 2-4 total applicants
all_total = all_admit + float(df_odds.loc[2.0][0] + df_odds.loc[3.0][0] + df_odds.loc[4.0][0])
#Probability of Rank 2-4 admissions
all_p_admit = all_admit / all_total
#Odds of Rank 2-4 admission
all_odds = all_p_admit / (1 - all_p_admit)
all_odds

0.3795918367346939

#### 3.3 Calculate the odds ratio

In [121]:
#Odds ratio for rank 1 admittsion: rank 2-4 admissions
odds_ratio = l1_odds/all_odds
odds_ratio

3.10483870967742

#### 3.4 Write this finding in a sentence:

Answer: The odds of being admitted to graduate school are 210% greater for students who attended a prestige level 1 undergraduate school than for students who attended a prestige level 2, level 3, or level 4 undergraduate institution.

#### 3.5 Print the cross tab for prestige_4

In [122]:
df_rank4 = pd.crosstab(df_dum['prestige_4.0'], df_dum['admit'])
df_rank4

admit           0    1
prestige_4.0
0             218  115
1              55   12

#### 3.6 Calculate the OR

In [123]:
#Rank 4 admissions
l4_admit = float(df_rank4.loc[1][1])
#Total Rank 4 applicants
l4_total = l4_admit + float(df_rank4.loc[1][0])
#Probability of being admitted from a rank 4 school
l4_p_admit = l4_admit / l4_total
#Odds of being admitted from a rank 4 school
l4_odds = l4_p_admit/ (1 - l4_p_admit)
#rank 1-3 admissions
other_admit = float(df_rank4.loc[0][1])
#rank 1-3 total applicants
other_total = float(df_rank4.loc[0][1] + df_rank4.loc[0][0])
#probability of admissions from rank 1-3 schools
other_p_admit = other_admit / other_total
#Odds of admission for rank 1-3 schools
other_odds = other_p_admit / (1 - other_p_admit)
#Odds ratio for odds off rank 4 admissions : rank 1-3 admissions
odds_ratio_2 = l4_odds / other_odds
odds_ratio_2

0.41359683794466406

#### 3.7 Write this finding in a sentence

Answer: A student from a rank 4 undergrad is 59% less likely to be accepted to graduate school than students from rank 1, 2, and 3 schools.

## Part 4. Analysis

In [124]:
# create a clean data frame for the regression
cols_to_keep = ['admit', 'gre', 'gpa']
data = df[cols_to_keep].join(dummies.ix[:, 'prestige_2':])
print data.head()

   admit    gre   gpa  prestige_2.0  prestige_3.0  prestige_4.0
0      0  380.0  3.61             0             1             0
1      1  660.0  3.67             0             1             0
2      1  800.0  4.00             0             0             0
3      1  640.0  3.19             0             0             1
4      0  520.0  2.93             0             0             1

We're going to add a constant term for our Logistic Regression. The statsmodels function we're going to be using requires that intercepts/constants are specified explicitly.

In [125]:
# manually add the intercept
data['intercept'] = 1.0

#### 4.1 Set the covariates to a variable called train_cols

In [126]:
train_cols = ['gre', 'gpa', 'prestige_2.0', 'prestige_3.0', 'prestige_4.0']

#### 4.2 Fit the model

In [127]:
lm = sm.Logit(data['admit'],data[train_cols])
model = lm.fit()

Optimization terminated successfully.
         Current function value: 0.589121
         Iterations 5

In [128]:
model.params

gre             0.001367
gpa            -0.132306
prestige_2.0   -0.956223
prestige_3.0   -1.537500
prestige_4.0   -1.869928
dtype: float64

#### 4.3 Print the summary results

In [129]:
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                  admit   No. Observations:                  397
Model:                          Logit   Df Residuals:                      392
Method:                           MLE   Df Model:                            4
Date:                Sat, 18 Nov 2017   Pseudo R-squ.:                 0.05722
Time:                        14:34:50   Log-Likelihood:                -233.88
converged:                       True   LL-Null:                       -248.08
                                        LLR p-value:                 1.039e-05
================================================================================
                   coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------
gre              0.0014      0.001      1.308      0.191      -0.001       0.003
gpa             -0.1323      0.195     -0.680      0.497      -0.514       0.249
prestige_2.0    -0.9562      0.302     -3.171      0.002      -1.547      -0.365
prestige_3.0    -1.5375      0.332     -4.627      0.000      -2.189      -0.886
prestige_4.0    -1.8699      0.401     -4.658      0.000      -2.657      -1.083
================================================================================
"""

#### 4.4 Calculate the odds ratios of the coeffiencents and their 95% CI intervals

hint 1: np.exp(X)

hint 2: conf['OR'] = params
        
           conf.columns = ['2.5%', '97.5%', 'OR']

In [130]:
conf = np.exp(model.conf_int())
conf['OR'] = np.exp(model.params)
conf.columns = ['2.5%', '97.5%', 'OR']

print conf

                  2.5%     97.5%        OR
gre           0.999320  1.003420  1.001368
gpa           0.598303  1.282800  0.876073
prestige_2.0  0.212826  0.694082  0.384342
prestige_3.0  0.112055  0.412207  0.214918
prestige_4.0  0.070176  0.338540  0.154135

#### 4.5 Interpret the OR of Prestige_2

Answer: Students who attended a prestige level 2 undergraduate institution are 62% less likley to be admitted to graduate school than students with the same GRE score and gpa who attended a prestige level one school.

#### 4.6 Interpret the OR of GPA

Answer: A one unit increase in gpa improved the odds of being admitted to graduate school by 87.6% for students from either a prestige level 2, 3, or 4 school.

## Part 5: Predicted probablities

As a way of evaluating our classifier, we're going to recreate the dataset with every logical combination of input values. This will allow us to see how the predicted probability of admission increases/decreases across different variables. First we're going to generate the combinations using a helper function called cartesian (above).

We're going to use np.linspace to create a range of values for "gre" and "gpa". This creates a range of linearly spaced values from a specified min and maximum value--in our case just the min/max observed values.

In [131]:
def cartesian(arrays, out=None):
    """
    Generate a cartesian product of input arrays.
    Parameters
    ----------
    arrays : list of array-like
        1-D arrays to form the cartesian product of.
    out : ndarray
        Array to place the cartesian product in.
    Returns
    -------
    out : ndarray
        2-D array of shape (M, len(arrays)) containing cartesian products
        formed of input arrays.
    Examples
    --------
    >>> cartesian(([1, 2, 3], [4, 5], [6, 7]))
    array([[1, 4, 6],
           [1, 4, 7],
           [1, 5, 6],
           [1, 5, 7],
           [2, 4, 6],
           [2, 4, 7],
           [2, 5, 6],
           [2, 5, 7],
           [3, 4, 6],
           [3, 4, 7],
           [3, 5, 6],
           [3, 5, 7]])
    """

    arrays = [np.asarray(x) for x in arrays]
    dtype = arrays[0].dtype

    n = np.prod([x.size for x in arrays])
    if out is None:
        out = np.zeros([n, len(arrays)], dtype=dtype)

    m = n / arrays[0].size
    out[:,0] = np.repeat(arrays[0], m)
    if arrays[1:]:
        cartesian(arrays[1:], out=out[0:m,1:])
        for j in xrange(1, arrays[0].size):
            out[j*m:(j+1)*m,1:] = out[0:m,1:]
    return out

In [132]:
# instead of generating all possible values of GRE and GPA, we're going
# to use an evenly spaced range of 10 values from the min to the max 
gres = np.linspace(data['gre'].min(), data['gre'].max(), 10)
print gres
# array([ 220.        ,  284.44444444,  348.88888889,  413.33333333,
#         477.77777778,  542.22222222,  606.66666667,  671.11111111,
#         735.55555556,  800.        ])
gpas = np.linspace(data['gpa'].min(), data['gpa'].max(), 10)
print gpas
# array([ 2.26      ,  2.45333333,  2.64666667,  2.84      ,  3.03333333,
#         3.22666667,  3.42      ,  3.61333333,  3.80666667,  4.        ])


# enumerate all possibilities
combos = pd.DataFrame(cartesian([gres, gpas, [1, 2, 3, 4], [1.]]))

[ 220.          284.44444444  348.88888889  413.33333333  477.77777778
  542.22222222  606.66666667  671.11111111  735.55555556  800.        ]
[ 2.26        2.45333333  2.64666667  2.84        3.03333333  3.22666667
  3.42        3.61333333  3.80666667  4.        ]

#### 5.1 Recreate the dummy variables

In [133]:
combos.columns = ['gre', 'gpa', 'prestige', 'intercept']
# recreate the dummy variables
dummies = pd.get_dummies(combos['prestige'], prefix='prestige')
# keep only what we need for making predictions
cols_to_keep = ['gre', 'gpa','intercept']
combos_new = combos[cols_to_keep].join(dummies.ix[:, 'prestige_1':])
combos_new

C:\Users\danke_000\Anaconda3\envs\py2\lib\site-packages\ipykernel\__main__.py:6: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate_ix

,gre,gpa,intercept,prestige_1.0,prestige_2.0,prestige_3.0,prestige_4.0
0,220.0,2.260000,1.0,1,0,0,0
1,220.0,2.260000,1.0,0,1,0,0
2,220.0,2.260000,1.0,0,0,1,0
3,220.0,2.260000,1.0,0,0,0,1
4,220.0,2.453333,1.0,1,0,0,0
5,220.0,2.453333,1.0,0,1,0,0
6,220.0,2.453333,1.0,0,0,1,0
7,220.0,2.453333,1.0,0,0,0,1
8,220.0,2.646667,1.0,1,0,0,0
9,220.0,2.646667,1.0,0,1,0,0
10,220.0,2.646667,1.0,0,0,1,0
11,220.0,2.646667,1.0,0,0,0,1
12,220.0,2.840000,1.0,1,0,0,0
13,220.0,2.840000,1.0,0,1,0,0
14,220.0,2.840000,1.0,0,0,1,0
15,220.0,2.840000,1.0,0,0,0,1
16,220.0,3.033333,1.0,1,0,0,0
17,220.0,3.033333,1.0,0,1,0,0
18,220.0,3.033333,1.0,0,0,1,0
19,220.0,3.033333,1.0,0,0,0,1
20,220.0,3.226667,1.0,1,0,0,0
21,220.0,3.226667,1.0,0,1,0,0
22,220.0,3.226667,1.0,0,0,1,0
23,220.0,3.226667,1.0,0,0,0,1
24,220.0,3.420000,1.0,1,0,0,0
25,220.0,3.420000,1.0,0,1,0,0
26,220.0,3.420000,1.0,0,0,1,0
27,220.0,3.420000,1.0,0,0,0,1
28,220.0,3.613333,1.0,1,0,0,0
29,220.0,3.613333,1.0,0,1,0,0
...,...,...,...,...,...,...,...
370,800.0,2.646667,1.0,0,0,1,0
371,800.0,2.646667,1.0,0,0,0,1
372,800.0,2.840000,1.0,1,0,0,0
373,800.0,2.840000,1.0,0,1,0,0
374,800.0,2.840000,1.0,0,0,1,0
375,800.0,2.840000,1.0,0,0,0,1
376,800.0,3.033333,1.0,1,0,0,0
377,800.0,3.033333,1.0,0,1,0,0
378,800.0,3.033333,1.0,0,0,1,0
379,800.0,3.033333,1.0,0,0,0,1
380,800.0,3.226667,1.0,1,0,0,0
381,800.0,3.226667,1.0,0,1,0,0
382,800.0,3.226667,1.0,0,0,1,0
383,800.0,3.226667,1.0,0,0,0,1
384,800.0,3.420000,1.0,1,0,0,0
385,800.0,3.420000,1.0,0,1,0,0
386,800.0,3.420000,1.0,0,0,1,0
387,800.0,3.420000,1.0,0,0,0,1
388,800.0,3.613333,1.0,1,0,0,0
389,800.0,3.613333,1.0,0,1,0,0
390,800.0,3.613333,1.0,0,0,1,0
391,800.0,3.613333,1.0,0,0,0,1
392,800.0,3.806667,1.0,1,0,0,0
393,800.0,3.806667,1.0,0,1,0,0
394,800.0,3.806667,1.0,0,0,1,0
395,800.0,3.806667,1.0,0,0,0,1
396,800.0,4.000000,1.0,1,0,0,0
397,800.0,4.000000,1.0,0,1,0,0
398,800.0,4.000000,1.0,0,0,1,0
399,800.0,4.000000,1.0,0,0,0,1

#### 5.2 Make predictions on the enumerated dataset

In [134]:
prediction = model.predict(combos_new[train_cols])
prediction

0      0.500412
1      0.277966
2      0.177139
3      0.133741
4      0.494018
5      0.272862
6      0.173442
7      0.130805
8      0.487625
9      0.267816
10     0.169805
11     0.127924
12     0.481237
13     0.262830
14     0.166230
15     0.125098
16     0.474854
17     0.257904
18     0.162715
19     0.122325
20     0.468480
21     0.253039
22     0.159260
23     0.119605
24     0.462116
25     0.248235
26     0.155865
27     0.116938
28     0.455765
29     0.243492
         ...
370    0.311235
371    0.244755
372    0.672071
373    0.440617
374    0.305778
375    0.240058
376    0.666409
377    0.434323
378    0.300375
379    0.235423
380    0.660698
381    0.428049
382    0.295027
383    0.230850
384    0.654941
385    0.421799
386    0.289735
387    0.226339
388    0.649137
389    0.415573
390    0.284500
391    0.221891
392    0.643289
393    0.409374
394    0.279322
395    0.217506
396    0.637399
397    0.403204
398    0.274202
399    0.213184
Length: 400, dtype: float64

In [135]:
df_result = combos_new[396:]
df_result

,gre,gpa,intercept,prestige_1.0,prestige_2.0,prestige_3.0,prestige_4.0
396,800.0,4.0,1.0,1,0,0,0
397,800.0,4.0,1.0,0,1,0,0
398,800.0,4.0,1.0,0,0,1,0
399,800.0,4.0,1.0,0,0,0,1

In [136]:
df_result['prediction'] = prediction.iloc[396:].values
df_result['e^pred'] = np.exp(prediction.iloc[396:])
df_result

C:\Users\danke_000\Anaconda3\envs\py2\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\Users\danke_000\Anaconda3\envs\py2\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

,gre,gpa,intercept,prestige_1.0,prestige_2.0,prestige_3.0,prestige_4.0,prediction,e^pred
396,800.0,4.0,1.0,1,0,0,0,0.637399,1.891554
397,800.0,4.0,1.0,0,1,0,0,0.403204,1.496613
398,800.0,4.0,1.0,0,0,1,0,0.274202,1.315480
399,800.0,4.0,1.0,0,0,0,1,0.213184,1.237613

#### 5.3 Interpret findings for the last 4 observations

Answer: 
4.0 gpa students with gre scores of 800 have the following chances of admission to graduate school, based on the prestige of their undergraduate institution:
Prestige_1.0: 89%
PRestige_2.0: 50%
PRestige_3.0: 32%
PRestige_4.0: 24%

===============================================
Discussion:

The logistic regression is of the form:
log(odds ratio) = intercept + beta*x1 .....beta*xn

given that the model was fitted using the following features: 'gre', 'gpa', 'prestige_2.0', 'prestige_3.0', 'prestige_4.0' and combined with the result of the summary of the model:

log(odds ration) = 1.0 + 0.0014*gre - 0.1323*gpe - 0.9562*prestige_2.0 - 1.5375*prestige_3.0 - 1.8699*prestige_4.0
Note that prestige_1.0 schools are not part of the prediction.
Also, it seems safe to assume that in cases where any of the dummy variables have a value of 0, they are not part of the prediction.
For example, predicting the odds of admission for a prestige level 2 student looks like the following (the coefficients for prestige 3 and 4 aren't considered):

log(odds ratio) = 1.0 +0.0014*gre - 0.1323*gpe - 1.5375*prestige_3.0

The other thing to note is that, as the prestige gets worse, the coefficient gets more negative, which presumably brings down the odds of admission. 

The odds ratio is (p / 1-p), where p is the probability of being admitted to graduate school. This odds ratio are the chances of being admitted vs. not being admitted.

## Bonus

Plot the probability of being admitted into graduate school, stratified by GPA and GRE score.